<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @user_type.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @user_type.descripcion %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @user_type.deleted %>
</p>

<%= link_to 'Edit', edit_user_type_path(@user_type) %> |
<%= link_to 'Back', user_types_path %>
